<footer class="footer">
  <div class="app-footer">
    <div class="page-container footer-content">
      <div class="row title-h2">
        <!-- Logo -->
        <div class="col-3">
          <div class="logo">
            <img src="{{logofile}}" alt="logo.png">
          </div>
        </div>
        <!-- Side left -->
        <div class="col-3">
          {{ page.footer_left }}
        </div>
        <!-- Side Center -->
        <div class="col-3">
          {{ page.footer_center }}
        </div>
        <!-- Side right -->
        <div class="col-3 copy-right">
          {{ page.footer_right }}
        </div>
      </div>
    </div>
  </div>
</footer>