<div>
	<h2>Liên hệ</h2>
	<div class="block-contact">
		<div class="text-block">
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<span>331 Hoàng Diệu, Phường 6, Quận 4, TP. HCM</span>
		</div>
		<div class="text-block">
			<i class="fa fa-mobile" aria-hidden="true"></i>
			<span>(84-28) 2227 8888</span>
		</div>	
		<div class="text-block">
			<i class="fa fa-address-book-o" aria-hidden="true"></i>
			<span>cafethat@cafeongbau.com</span>
		</div>
	</div>
</div>