<div class="main-page">
  <header class="header">
    <div class="page-container header-container">
      <div class="logo">
        <img src="{{logofile}}" alt="logo.png">
      </div>
      <div class="main-menu">
        {{page.nav_main}}
      </div>
    </div>
  </header>
  <div class="hero-banner">
    <div class="hero-bg" style="background-image: url('/drupal/themes/custom/bfd/assets/image/banner-home.png')"></div>
  </div>
</div>
