<!-- HEADER -->
{% include '@bootstrap_for_drupal/includes/header.html.twig' %}
<!-- HEADER -->
  <div class="hero-banner">
    <div class="hero-bg ongbauview-mode" style="background-image: url('/drupal/themes/custom/bfd/assets/image/banner-home.png')"></div>
    <div class="page-container content-body">
      {{page.content}}
    </div>
  </div>
  <!-- FOOTER -->
  {% include '@bootstrap_for_drupal/includes/footer.html.twig' %}
  <!-- FOOTER -->
</div>
