<div class="main-page">
  <header class="header">
    <div class="page-container header-container">
      <div class="logo">
        <img src="{{logofile}}" alt="logo.png">
      </div>
      <div class="main-menu">
        {{page.nav_main}}
      </div>
    </div>
  </header>
  <div class="hero-banner section-fullscreen">
    <div class="hero-bg section-fullscreen" style="background-image: url('/drupal/themes/custom/bfd/assets/image/bg-home-page.png')">
      <div class="hero-bg__leaf section-fullscreen">
        <div class="page-container body-container">
          <div class="banner-home">
            <img src="/drupal/themes/custom/bfd/assets/image/slogan.svg" alt="slogan.svg">
          </div>
          <div class="banner-home">
            <img src="/drupal/themes/custom/bfd/assets/image/tagline.svg" alt="tagline.svg">
          </div>
          <div class="content-home">
            <div class="content-home__text">TỔNG GIÁ TRỊ QUỸ</div>
            <div class="content-home__price">
              <span class="price">4.443.939.000 </span>
              <span class="unit">VNĐ</span>
            </div>
          </div>
          <div class="row content-lg-start">
            <div class="col-4">
              <div class="content-lg-start__text">
                <a href="">THÔNG TIN QUỸ</a>
              </div>
            </div>
            <div class="col-4">
              <div class="content-lg-start__text">
                <a href="">THÔNG TIN QUỸ</a>
              </div>
            </div>  
            <div class="col-4">
              <div class="content-lg-start__text">
                <a href="">THÔNG TIN QUỸ</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
